[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "*"
grpcio = "==1.13.0" # TODO: More recent versions of this cause test failures for unknown reasons, needs fixing
structlog = "*"
"tonyg-rfc3339" = "*"
pika = "*"

[dev-packages]
codecov = "*"
coverage = "*"
"flake8" = "*"
pytest-cov = "*"
pytest = "*"

[requires]
python_version = "3.6"
