[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "*"
grpcio = "*"
structlog = "*"
"jinja2" = "*"
"tonyg-rfc3339" = "*"
pika = "*"

[dev-packages]
codecov = "*"
coverage = "*"
"flake8" = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
